{{> header}}
  <!-- Site wrapper -->
  <div class="wrapper">
    {{> top-nav}}
  
    {{> side-nav}}
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 584.4px;">
        {{{body}}}
    </div>
    <!-- /.content-wrapper -->
  
  {{> footer}}